@model Org.OpenAPITools.Models.Instrument

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TickSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TickSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTradeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTradeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettlementPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettlementPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationTimestamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
