@model ChainResultViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ticker)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ticker)
                <a asp-controller="Tickers"
                   asp-action="Details"
                   asp-route-id="update">
                    Update Contracts
                </a>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
                @Html.DisplayFor(model => model.TimeChange)
                <a asp-controller="Tickers"
                   asp-action="Details"
                   asp-route-id="threeD">
                    3 Days
                </a>
                <a asp-controller="Tickers"
                   asp-action="Details"
                   asp-route-id="dWeek">
                    7 Days
                </a>
            </dd>
        </dl>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OptionsResults.FirstOrDefault().Description)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OptionsResults.FirstOrDefault().ClosePrice)

                    <a asp-controller="Tickers"
                       asp-action="Details"
                       asp-route-id="cChange">
                        (By Change)
                    </a>
                </th>
                <th>
                    <a asp-controller="Tickers"
                       asp-action="Details"
                       asp-route-id="false">
                        @Html.DisplayNameFor(model => model.OptionsResults.FirstOrDefault().OpenInterest)
                    </a>
                    <a asp-controller="Tickers"
                       asp-action="Details"
                       asp-route-id="oChange">
                        (By Change)
                    </a>
                </th>
                <th>
                    <a asp-controller="Tickers"
                       asp-action="Details"
                       asp-route-id="true">
                        @Html.DisplayNameFor(model =>
                            model.OptionsResults.FirstOrDefault().TotalValue)

                    </a>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.OptionsResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        @Html.DisplayFor(modelItem => item.ChartCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosePrice)
                        <span>(@Html.DisplayFor(modelItem => item.ClosePriceChange))</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenInterest)
                        <span>(@Html.DisplayFor(modelItem => item.OpenInterestChange))</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalValue)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Symbol">Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>