@model Org.OpenAPITools.Models.PortfolioEth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortfolioEth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableWithdrawalFunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableWithdrawalFunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableFunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_session_upl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_session_upl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_gamma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_gamma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_theta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_theta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.delta_total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.delta_total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.futures_session_rpl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.futures_session_rpl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total_pl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total_pl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_session_rpl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_session_rpl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_delta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_delta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.futures_pl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.futures_pl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.session_upl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.session_upl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.creation_timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.creation_timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_pl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_pl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projected_initial_margin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projected_initial_margin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projected_maintenance_margin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projected_maintenance_margin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.session_rpl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.session_rpl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_vega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_vega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projected_delta_total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projected_delta_total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.futures_session_upl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.futures_session_upl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.options_value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.options_value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarginBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarginBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquityUsd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquityUsd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
