@model Org.OpenAPITools.Models.PortfolioEth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortfolioEth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableWithdrawalFunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableWithdrawalFunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialMargin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialMargin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFunds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableFunds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarginBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarginBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
