@model IEnumerable<OptionTracker.Models.Crypto.BookDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnderlyingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnderlyingIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarkIv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndexPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeliveryPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidIv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestAskPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestAskAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AskIv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stats.Volume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnderlyingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnderlyingIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkIv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndexPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDeliveryPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidIv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestAskPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestAskAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AskIv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stats.Volume)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
