@model OptionTracker.Models.OptionResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OptionResults</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
