@model IEnumerable<OptionTracker.Models.OptionResultViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <a asp-controller="Movers"
                   asp-action="Index"
                   asp-route-id="oInterest">
                    @Html.DisplayNameFor(model => model.OpenInterest)
                </a>
            </th>
            <th>
                <a asp-controller="Movers"
                   asp-action="Index"
                   asp-route-id="oChange">
                    @Html.DisplayNameFor(model => model.OpenInterestChange)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosePrice)
            </th>
            <th>
                <a asp-controller="Movers"
                   asp-action="Index"
                   asp-route-id="pChange">
                    @Html.DisplayNameFor(model => model.ClosePriceChange)
                </a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Volatility)
            </th>
            <th>
                <a asp-controller="Movers"
                   asp-action="Index"
                   asp-route-id="vChange">
                    @Html.DisplayNameFor(model => model.VolatilityChange)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenInterestChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosePriceChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volatility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolatilityChange)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
