@model Org.OpenAPITools.Models.BookSummary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookSummary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnderlyingIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnderlyingIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeUsd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeUsd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnderlyingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnderlyingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenInterest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.High)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.High)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDeliveryPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDeliveryPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funding8h)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funding8h)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AskPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AskPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Low)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Low)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFunding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFunding)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
